@page "/indexapp"
@inherits IndexApp2Base
@inject NotificationService NS
@using TorneosV2.Modelos
@using TorneosV2.Pages.Sistema
@using TorneosV2.Pages.Configuracion
@using TorneosV2.Pages.Datos

<PageTitle>Aplicacion</PageTitle>

<AuthorizeView>
    <Authorized>
        <CascadingValue Value="ElUser" Name="ElUserAll">
            <CascadingValue Value="LasBitacoras" Name="LasBitacorasAll">
                @if (ElUser == null || ElUser.UserId.Length < 15)
                {
                    <div class="spinner">IndexApp</div>
                }
                else
                {
                    @if (ElUser.Estado == 3)
                    {
                        <h2>Cambio de Password</h2>
                        <RadzenLabel>Es necesario cambiar tu Password, recuerda Usar:</RadzenLabel><br />
                        <RadzenLabel>Utilizar almenos una letra mayuscula, una letra miniscula y un numero.</RadzenLabel>
                        <MisDatos />
                    }
                    else
                    {
                        @if (ElUser.Nivel > 5)
                        {<RadzenLink href="/sistema">Administracion</RadzenLink>}


                        <RadzenTabs @bind-SelectedIndex="IndexTabAll">
                            <Tabs>
                                <RadzenTabsItem Text="Nombres">
                                    <NombresList ReadNENombres="ReadLosNombresAll" LosNombres="LosNombresAll"
                                                 ReadNEPaises="ReadPaisesAll" LosPaises="LosPaisesAll"
                                                 ReadNEConfig="ReadLosConfigsAll" LosConfigs="LosConfigsAll" />
                                </RadzenTabsItem>
                                @if (ElUser.Nivel > 4)
                                {
                                    <RadzenTabsItem Text="Servicios">
                                        <ServiciosList ReadOrganizaciones="ReadLasOrgsAll" LasOrgs="LasOrgsAll"
                                                       ReadServicios="ReadLosServiciosAll" LosServicios="LosServiciosAll" />
                                    </RadzenTabsItem>


                                    <RadzenTabsItem Text="Paises">
                                        <PaisesList ReadPaises="ReadPaisesAll" LosPaises="LosPaisesAll" />
                                    </RadzenTabsItem>

                                }
                            </Tabs>
                        </RadzenTabs>

                    }

                }
            </CascadingValue>
        </CascadingValue>
    </Authorized>

    <NotAuthorized>
        <h1>Es necesario firmar para consultar esta pagina, </h1>
        <RadzenLink Icon="accessibility" Path="Identity/Account/Login?ReturnUrl=/indexapp"
                    Text="Identificate" />
    </NotAuthorized>

</AuthorizeView>

@code {
        
    }

