@page "/exitocambiopass"
@inherits ExitosBase

<h3>Exito cambio de Password</h3>

<p>Se cambio exitosamente el password, en caso contrario enviamos un email al usuario!</p>

<RadzenButton Click="EnviarHome">Al Inicio</RadzenButton>

@code {
    void EnviarHome()
{
        NM.NavigateTo("/", true);
}
}

